<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
    <h1><%= title %></h1>


    <% if (title=="Home") { %>

        <img id="splash-logo" src="\Assets\images\NeverLoseURconnections_logo.png">

        

    <% } %>    


    
<%- include Partials/footer.ejs%>