img{


    height: 80px;
    width: 87px;
}


#splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center; 
}

#splash img {
    max-width: 300px;
    width: 100%; 
    height: auto; 
   
}

#splash h2 {
    font-size: 2rem; 
    margin-bottom: 10px;

}

#splash p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    
}

#splash a.btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #007bff; 
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#splash a.btn:hover {
    background-color: #0056b3; 
}

p{

    font-size: 1.1rem; 
    line-height: 1.6; 
    margin-bottom: 20px; 
    text-align: center; 
}


h3 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
    text-align: center; 
}
h1{

    text-align: center;
}

table {
    margin: 20px auto; 
    border-collapse: collapse; 
    width: 80%; 
    text-align: center; 
}

th, td {
    border: 1px solid #ddd; 
    padding: 10px; 
}

th {
 
    font-weight: bold; 
}



tr:hover {
    background-color: #f1f1f1; 
}

td {
    word-wrap: break-word; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #343a40; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
  }
  
  footer .navbar {
    width: auto;
    padding: 0;
    margin: 0;
  }
  
  footer .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  footer .navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  footer .navbar-nav .nav-link {
    font-size: 14px; 
    color: #ffffff; 
  }
  
  footer .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #f8f9fa; 
  }
  
  footer .navbar-text {
    color: #ffffff; 
    font-size: 12px; 
    margin-top: 5px;
  }


  @media screen and (max-width: 480px) {

    splash img {

        max-width: 200px;
        width: 100%; 
        height: 300px; 
    }

    #splash p {
        font-size: 1.2rem;
        margin-bottom: 1em;
        
    }
    
  }
