img{


    height: 80px;
    width: 87px;
}


#splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center-align text */
}

#splash img {
    max-width: 300px;
    width: 100%; 
    height: auto; 
    /*margin-bottom: 0.3px; /* Add some spacing below the image */
}

#splash h2 {
    font-size: 2rem; /* Adjust heading size */
    margin-bottom: 10px;

}

#splash p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    
}

#splash a.btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#splash a.btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

p{

    font-size: 1.1rem; /* Adjust text size for better readability */
    line-height: 1.6; /* Increase line height for better text spacing */
    margin-bottom: 20px; /* Add space below paragraphs */
    text-align: center; /* Center-align the text */
}


h3 {
    font-size: 1.5rem; /* Set font size for the heading */
    margin-bottom: 10px; /* Add spacing below the heading */
    text-align: center; /* Center-align the heading */
}
h1{

    text-align: center;
}


